<!--filter -->
<div class="d-flex justify-content-end">
    <select style="display: flex; width: 10%;" class=" form-select" id="filter" name="filter" aria-label="filter">
        <option selected>All</option>
        <option value="price-desc" {{#ifCond sort 'price-desc' }} selected{{/ifCond}}>Price: high > low</option>
        <option value="price-asc" {{#ifCond sort 'price-asc' }} selected{{/ifCond}}>Price: low > high </option>
    </select>
</div>
<div class="row mt-3">
    {{#each product}}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <a href="/product/{{this.id}}">
                <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px"
                    height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
            </a>
            <div class="card-body">
                <p class="card-text">
                    <a href="/product/{{this.id}}">
                        {{this.name}}
                    </a>
                </p>
                <p class="card-text text-truncate">{{this.description}}</p>
                <h5 class="text-success font-weight-bold">NT$ {{this.price}}</span></h5>
                <p style="color:deeppink;">還剩下 {{this.inventory}} 件</p>
                <div class="btn-group">
                    <form action="/cart" method="POST">
                        <input type="hidden" name="productId" value="{{this.id}}">
                        <button type="submit" class="btn btn-outline-white"><i class="fas fa-shopping-cart fa-1x"></i>
                            加入購物車</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>